<main role="main" class="leading-loose">
  <div class="overflow-hidden relative">
    <video autoplay="autoplay" muted="muted" class="min-w-full h-full max-w-max relative z-0">
      <source type="video/mp4" src="https://media.magic.wizards.com/0np6yhhaku_1920x900.mp4">
    </video>
    <div class="absolute z-10 top-0 left-0  w-full">
      <form action="/shop/search" method="POST" class="h-10 w-full   text-xl flex items-center justify-between">
        <select name="city" class="h-10 pl-2 bg-white ">
          {{#each city}}
            <option value={{this._id}}>{{this.city}}</option>
          {{/each}}
        </select>
        <input type="text" name='name' placeholder="Название" class="w-full h-10 mx-2 text-center">
        <button type="submit"
          class="inline-block px-6 py-2 text-2xl text-red-700 font-bold font-medium leading-6 text-center text-white  transition bg-yellow-500 shadow ripple hover:shadow-lg hover:bg-yellow-600 focus:outline-none">Поиск</button>
      </form>
      {{#if error}}
        <p class="text-red-700 my-4 text-center bg-yellow-500">{{error}}</p>
      {{/if}}
      <div class="grid md:grid-cols-3 text-center">
        {{#each goods}}
          <div
            style='background-color:rgba(255, 255, 255, 0.4); margin: 10px; font-size: 17px; text-align:center; border-radius: 30px; padding:10px'>
            <h3 class="text-xl py-2">{{this.name}}</h3>
            <div class="imgContainer"><img src="{{this.img}}" alt="{{this.name}}"></div>
            <p>Процент изношенности: {{this.worn}} %</p>
            <p>Товар находится в городе {{this.city.city}}</p>
            <p>Цена:{{this.price}} рублей</p>
            <p>Статус товара: {{this.status}}</p>
            <a href="/shop/{{this.id}}"><button
                class="inline-block px-3 py-1 rounded-lg  text-red-700 font-bold font-medium leading-6 text-center text-white  transition bg-yellow-500 shadow ripple hover:shadow-lg hover:bg-yellow-600 focus:outline-none">Купить</button>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>


</main>
